name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    uses: Corsinvest/.github/.github/workflows/cv4pve-cli-publish.yml@main
    with:
      project-name: cv4pve-diag
      project-path: src/Corsinvest.ProxmoxVE.Diagnostic/Corsinvest.ProxmoxVE.Diagnostic.csproj
      nuget-project-path: src/Corsinvest.ProxmoxVE.Diagnostic.Api/Corsinvest.ProxmoxVE.Diagnostic.Api.csproj
      winget-id: Corsinvest.cv4pve.diag
